*~
.*.swp
*.trs
.deps
.libs
Makefile
Makefile.in
configure
configure.in
*.o
*.lo
*.lof
*.la
*.dSYM
palTest
make.log
make.log.err
config.h
config.h.in
config.log
config.status
stamp-h1
libtool
*.htx
*.aux
*.bbl
*.blg
*.dvi
*.log
*.htx_tar
aclocal.m4
autom4te.cache/
componentinfo.dtd
starconf.status
sun267.ps
sun267.pdf
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h2
pal-*.tar.gz
pubs/adass2012/P56.pdf
test-driver
*.os
.sconf_temp/
.sconsign.dblite
libpal.*.dylib
libpal.a
libpal.dylib
sun267.fls
sun267.out
sun267.toc
/palsun.tex
