.deps
.libs
Makefile
Makefile.in
configure
configure.in
*.o
*.lo
*.la
palTest
make.log
make.log.err
config.h
config.h.in
config.log
config.status
stamp-h1
libtool
*.htx
*.aux
*.dvi
*.log
*.htx_tar
aclocal.m4
autom4te.cache/
componentinfo.dtd
starconf.status
sun267.ps
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h2
pal-*.tar.gz
